#product
    padding-top: 100px
    .bg
        background: #FFC950
        width: 100%
        height: 400px
        margin-top: 50px
        position: absolute
    .option
        cursor: pointer
.product 
    .cardImg
        min-height: 200px
        max-height: 200px
        overflow: hidden
        img
            transform: scale(1.5)!important

.info-product
    text-align: left

@media (max-width: 768px) 
    .product
        .cardImg
            min-height: 250px
            max-height: 250px