@import "app/sass/parts/spacing"
@import "app/sass/product"
@import "app/sass/navbar"
@import "app/sass/home"
@import "app/sass/about"
@import "app/sass/contact"
@import "app/sass/search"
@import "app/sass/login"
@import "app/sass/admin"

body
    font-family: 'Roboto', sans-serif
    overflow-x: hidden

.card
    border-radius: 5px

.main-title
    text-align: center
    font-weight: bold
    color: $text

.underline
    width: 100px
    height: 5px
    margin: 0 auto

.center
    float: none!important
    margin: 0 auto

.w-100
    width: 100%!important

.w-100-not-important
    width: 100%

.materialboxed
    border-radius: 5px

.product
    margin-bottom: 20px
    text-align: center
    .card
        .category
            font-size: 14px
            color: #bdbdbd  

        .price
            margin-top: 15px
            font-size: 25px
            font-weight: 400
            color: grey
        .info
            color: grey
        .name
            color: #41494f
        .card-title
            font-size: 22px

.error
    padding-top: 50px
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    opacity: 0.6

@media (max-width: 768px) 
    h2
        font-size: 35px
    h3
        font-size: 30px